*{
	margin:0px;
	padding: 0px;
}
body{
	font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
	font-size: 16px;
}
#wrapper{
	width: 960px;
	padding: 20px;
}
 ul, li{
 	list-style-type: none;
 }
#wrapper div{
	width: 375px;
	height: 450px;
	padding: 20px;
	border: 1px solid #000000;
	border-radius: 15px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #aaaaaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#aaaaaa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#aaaaaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#aaaaaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#aaaaaa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#aaaaaa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */

}
h1{
	color: #555555;
	margin-bottom: 10px;
}
.me-item{
	border: 1px solid #000000;
	margin-bottom: 5px;
	margin-left: 130px;
	border-radius: 10px;
	padding: 5px;
	background: #2bedff; /* Old browsers */
	background: -moz-linear-gradient(top,  #2bedff 0%, #befaff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2bedff), color-stop(100%,#befaff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2bedff 0%,#befaff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2bedff 0%,#befaff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2bedff 0%,#befaff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2bedff 0%,#befaff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bedff', endColorstr='#befaff',GradientType=0 ); /* IE6-9 */

}
.me-item p, span{
	color:#555555;
}
.toshko-item{
	border: 1px solid #000000;
	margin-bottom: 5px;
	margin-right: 130px;
	border-radius: 10px;
	padding: 5px;
	background: #ddffd0; /* Old browsers */
	background: -moz-linear-gradient(top,  #ddffd0 0%, #71ff3d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddffd0), color-stop(100%,#71ff3d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ddffd0 0%,#71ff3d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ddffd0 0%,#71ff3d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ddffd0 0%,#71ff3d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ddffd0 0%,#71ff3d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddffd0', endColorstr='#71ff3d',GradientType=0 ); /* IE6-9 */
	}
.toshko-item p, span{
	color:#555555;
}
.toshko-item span:first-of-type{
	margin-left: 170px;
}
li > span{
	font-weight: bold;
	font-size: 17px;
}
span.date{
	font-family: Consolas;
	font-size: 13px;
}
.me-item span.date{
	
	margin-left: 100px;
	
}
input {
	height: 35px;
	width: 263px;
	border-radius:5px;
	border:none;
	color: #555555;
	padding: 3px 15px;
}
button{
	height: 35px;
	width: 75px;
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	background: #ebebeb; /* Old browsers */
	background: -moz-linear-gradient(top,  #ebebeb 0%, #adadad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#adadad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ebebeb 0%,#adadad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ebebeb 0%,#adadad 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ebebeb 0%,#adadad 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ebebeb 0%,#adadad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */

}
button:hover{
	background: #fff;
}
